In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

Question 1

In [56]:
check1 = data['Element Code'].corr(data.Y2014)
check1

0.024456819495221747

In [57]:
check2 = data['Element Code'].corr(data.Y2015)
check2

0.02388919930163993

In [58]:
check3 = data['Element Code'].corr(data.Y2016)
check3

0.023443997584961445

In [59]:
check4 = data['Element Code'].corr(data.Y2017)
check4

0.02425400776004577

Question 2

In [6]:
data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

Question 3

In [7]:
data.Area.nunique()

49

Question 4

In [10]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age',"Nationality","Overall"]

In [14]:
test = pd.DataFrame(lst, columns = col, index = [1, 2, 3])
test.head()

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Question 5

In [17]:
data.Y2017.agg(['mean', 'std']).round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

In [18]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [23]:
array[:1, 1:]

TypeError: list indices must be integers or slices, not tuple

Question 15

In [29]:
test2 = data[data['Element'] == 'Protein supply quantity (g/capita/day)']
test2.groupby('Area')['Y2015'].sum()

Area
Algeria                        377.37
Angola                         214.15
Benin                          271.97
Botswana                       278.52
Burkina Faso                   317.99
Cabo Verde                     278.41
Cameroon                       291.53
Central African Republic       173.70
Chad                           252.28
Congo                          227.08
Côte d'Ivoire                  232.59
Djibouti                       269.59
Egypt                          394.87
Eswatini                       237.71
Ethiopia                       259.82
Gabon                          345.41
Gambia                         257.67
Ghana                          241.71
Guinea                         227.46
Guinea-Bissau                  168.61
Kenya                          251.73
Lesotho                        254.50
Liberia                        159.43
Madagascar                     173.05
Malawi                         272.49
Mali                           319.85
Mauritania                     329.77
Mauritius                      348.06
Morocco                        398.74
Mozambique                     178.39
Namibia                        253.89
Niger                          316.78
Nigeria                        230.08
Rwanda                         238.70
Sao Tome and Principe          211.04
Senegal                        237.77
Sierra Leone                   203.57
South Africa                   345.95
Sudan                          295.08
Togo                           231.59
Tunisia                        401.32
Uganda                         201.20
United Republic of Tanzania    246.35
Zambia                         240.87
Zimbabwe                       175.31
Name: Y2015, dtype: float64

In [32]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [34]:
x = y[1][-1]
print(x)

8

Question 13

In [36]:
data.groupby('Item')[['Y2015', 'Y2018']].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [37]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

Question 16

In [44]:
data.Y2014.isna().sum()

1589

In [43]:
(data.Y2014.isna().sum()/data.Y2014.count())*100

2.6771573946153584

Question 18 & 19

In [46]:
data.groupby('Area')['Y2017'].sum().sort_values(ascending = False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

Question 20

In [47]:
data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64